[user]
	name = Dylan Ferguson
	email = dylan.b.ferguson@gmail.com

[github]
	user = dylanferguson

[core]
	editor = sublime -n -w
	excludesfile = /Users/dylan/.gitignore_global
[credential]
	helper = osxkeychain
