[user]
	name = Dylan Ferguson
	email = dylan.b.ferguson@gmail.com

[github]
	user = dylanferguson

[core]
	excludesfile = /Users/dylan/.gitignore_global
	editor = subl -n -w

[credential]
	helper = osxkeychain

[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX

[alias]
	co = checkout
	br = branch
	st = status
	last = log -1 HEAD
	wat = whatchanged
	acm = "!f() { git add . && git commit -m \"$(echo $@)\"; }; f";