[user]
	name = Dylan Ferguson
	email = dylan.b.ferguson@gmail.com

[github]
	user = dylanferguson

[core]
	editor = sublime -n -w
	excludesfile = /Users/dylan/.gitignore_global

[credential]
	helper = osxkeychain

[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX
